[submodule "dependencies/FRUT"]
	path = dependencies/FRUT
	url = https://github.com/McMartin/FRUT
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt
[submodule "dependencies/Gist"]
	path = dependencies/Gist
	url = https://github.com/adamstark/gist
